.loginDiv {
    padding-top: 20%;
    justify-content: center;
    width: 600px;
    margin: auto;
}

.loginBtn {
    margin: 25px;
}

.buttonContainer {
    position: static;
    padding-left: 25%;
}
.welcomeHeader {
    position: static;
    padding-left: 25%;
}